:root{
    --verde: #0EFF51;
    --verde-hover: #21803C;
    --azul: #1D83E1;
    --azul2: #00386B;
    --vermelho: #F42C20;
    --vermelho-hover: #640F0A;
    --amarelo: #FEDF3F;
    --branco: #EDF2F5;
    --cinza: #C6CBCE;
    --cinza-hover: #5D6063;
    --preto: #16141a;
    --rosa: rgba(161, 56, 118, 0.808);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--branco);
    font-family: Poppins;
}

header {
    display: flex;
    background-color: var(--azul);
    width: 100%;
    position: relative;
    padding: 20px 0;
    align-items: center;
}

header img{
    object-fit: contain;
    width: 200px;
}

#headerTitle{
    text-decoration: none;
    font-weight: bold;
    color: var(--branco);
    font-size: 3em;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

footer {
    background-color: var(--azul);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1{
    color: var(--branco);
    font-size: 2em;
}

nav {
    justify-content: center;
    display: flex;
}

#brawlersContainer{
    width: 500px;
    margin: 0 auto;
    min-height: 100vh
}

#formBrawler {
    border-radius: 10px;
    background-color: var(--azul);
    height: auto;
    margin-top: 100px;
    padding: 50px;
    display: flex;
}

#formBrawler div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formBrawler p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}



#title{
    text-align: center;
    color: var(--branco);
    font-size: 2em !important;
    font-weight: bold;
    margin-bottom: 10px;
}

#formBrawler input{
    padding-left: 10px;
    margin-left: 20px;
    outline: none;
    border-radius: 100px;
    border: none;
    background-color: var(--branco);
    width: 200px;
}

#formBrawler select{
    padding-left: 10px;
    margin-left: 20px;
    outline: none;
    border-radius: 100px;
    border: none;
    background-color: var(--branco);
    width: 120px;
}

#formBrawler label{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--branco);
}

#unfilledAlert {
    color: var(--vermelho);
    margin-top: 10px;
}


#enviarBrawler{
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    outline: none;
    border-radius: 100px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    font-size: 2em;
    font-weight: bold;
    transition: .2s;
}

#enviarBrawler:hover{ 
    background-color: var(--verde-hover);
}

.container {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    min-height: 100vh
}

.card {
    border-radius: 20px;
    padding: 20px 20px;
    background-color: var(--azul2);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.card h2{
    color: var(--preto);
    background-color: var(--branco);
    width: 200px;
    text-align: center;
    border-radius: 100px;
}

.image img{
    height: 150px;
}

.image{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    height: 150px;
    width: 200px;
}

.card h3{
    color: var(--amarelo);
    text-align: center;
}

.card section{
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
}

.card h1{
    color: var(--branco);
}

section.icons{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
}

.icons i{
    color: var(--branco);
    font-size: 45px;
}

.blueIcon a{
    text-decoration: none;
}

.blueIcon i {
    font-size: 45px;
    color: var(--branco);
}   

.blueIcon {
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    background-color: var(--azul);
    position: sticky;
    top: 20px;
}

.deleteBrawler {
    background-color: var(--azul);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.choice{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.deleteBtn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    color: var(--branco);
    font-size: 25px;
}

.choice button {
    background-color: var(--verde);
    transition: .2s;
}

.choice button:hover {
    background-color: var(--verde-hover);
}

.choice a {
    background-color: var(--vermelho);
    transition: .2s;
}

.choice a:hover {
    background-color: var(--vermelho-hover);
}

#alertTitle{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--branco);
    background-color: red;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.deleteBrawler label {
    margin: 20px;
    font-size: 1.5em;
}

#editIcon{
    width: 70px;
    height: 70px;
    background-color: var(--verde);
    transition: .2s;
}

#deleteIcon{
    width: 70px;
    height: 70px;
    background-color: var(--vermelho);
    transition: .2s;
}

#editIcon:hover{
    background-color: var(--verde-hover);
}

#deleteIcon:hover{
    background-color: var(--vermelho-hover);
}

@media (max-width: 578px) {
    .card {
        width: 270px;
        flex-flow: column;
        margin: 0;
        margin-bottom: 30px;
    }
    #brawlersContainer {
        width: 300px;
        padding: 0;
    }

    header img {
        display: none;
    }


    header {
        height: 50px;
    }

    footer h1 {
        font-size: 1em;
    }

    #formBrawler {
        border-radius: 0;
        width: 100%;
        padding: 0;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    #formBrawler p {
        display: flex;
        flex-direction: column;
    }

    #formBrawler input,
    #formBrawler select {
        height: 30px;
        margin-top: 10px;
    }

    .deleteBrawler label {
        font-size: 1em;
        font-weight: bold;
    }

    .deleteBtn{
        font-size: 20px;
        width: 60px;
        height: 60px;
    }

}